/* Fonts */
@font-face {font-family: 'SwedenSans'; src: url('./assets/fonts/SwedenSansBook.woff2') format('woff2'), url('./assets/fonts/SwedenSansBook.otf') format('opentype'); font-style: normal; font-weight: 300; text-rendering: optimizeLegibility;}
@font-face {font-family: 'SwedenSans'; src: url('./assets/fonts/SwedenSansRegular.woff2') format('woff2'), url('./assets/fonts/SwedenSansRegular.otf') format('opentype'); font-style: normal; font-weight: normal; text-rendering: optimizeLegibility;}
@font-face {font-family: 'SwedenSans'; src: url('./assets/fonts/SwedenSansSemiBold.woff2') format('woff2'), url('./assets/fonts/SwedenSansSemiBold.otf') format('opentype'); font-style: normal; font-weight: bold; text-rendering: optimizeLegibility;}
@font-face {font-family: 'SwedenSans'; src: url('./assets/fonts/SwedenSansBold.woff2') format('woff2'), url('./assets/fonts/SwedenSansBold.otf') format('opentype'); font-style: normal; font-weight: 800; text-rendering: optimizeLegibility;}

/* Theme colours */
$blue: rgb(20, 82, 147);
$yellow: rgb(254, 203, 0);
$dawn-blue: rgb(26, 48, 80);
$grain-yellow: rgb(232, 227, 209);
$pale-yellow: rgb(255, 212, 129);
$pale-winter-grey-1: rgb(250, 250, 250);
$pale-winter-grey-2: rgb(237, 237, 237);
$winter-grey: rgb(189, 189, 189);
$red-minus-3: rgb(237, 176, 171);
$red: rgb(209, 56, 43);
$green-minus-3: rgb(153, 222, 201);
$blue-minus-3: rgb(153, 213, 237);


* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  cursor: default;
  user-select: none;

  &::selection {
    background: $pale-yellow;
  }
}

html, body, #root {
  height: 100dvh;
  height: 100%;
  overflow: hidden;
}

html {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

body {
  font-family: 'SwedenSans', sans-serif;
  letter-spacing: 1px;
  background: linear-gradient(45deg, $dawn-blue, $blue);
}

a {
  color: $pale-winter-grey-1;
  cursor: pointer;
  
  * {
    cursor: pointer;
  }
}

.notouch a:hover,
.touch a:active {
  color: $yellow;
  text-decoration: none;
}

#wrapper {
  width: 620px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  align-items: center;
  font-size: 24px;

  & > header {
    gap: 10px;
    display: flex;
    align-items: flex-end;
  
    #logo {
      margin-bottom: 5%;
    }
  
    svg {

      path {
        fill: $pale-winter-grey-1;
      }

      path.bg {
        fill: none;
      }
    }
  
    h1 {
      padding-top: 5px;
      color: $pale-winter-grey-1;
      text-transform: uppercase;
      text-align: left;
      font-size: 1rem;
      font-weight: 800;
      line-height: 1.4rem;
      display: none;
    }

  }
  
  & > header,
  & > footer {
    width: 100%;
    color: $pale-winter-grey-1;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-grow: 1;
  }

  & > footer {
    margin-top: 5%;
    font-size: 0.8rem;
    align-items: flex-start;

    div {
      flex-wrap: wrap; 

      span {
        width: 100%;
        margin-top: 10px;
        display: block;
      }
    }

  }
  
  & > footer a svg {
    margin: 0 2px;
    display: inline-block;
  }
  
  & > footer a svg path {
    fill: $pale-winter-grey-1;
  }

  &.notouch > footer a:hover svg path,
  &.touch > footer a:focus svg path {
    fill: $yellow;
  }

  &.on {
    display: block;
  }

  &.on #clear {
    display: flex;
  }

  &.on > #main {
    display: flex;
  }

  &.on > header,
  &.on > footer {
    display: none;
  }

  #search {
    width: 100%;
    display: flex;
    align-items: stretch;
    background: #fff;

    input#word {
      height: 40px;
      padding: 30px 20px 25px 20px;
      border: none;
      border-radius: 0;
      -webkit-appearance: none;
      background: #fff;
      font-family: 'SwedenSans', sans-serif;
      font-size: 2.2rem;
      letter-spacing: 1px;
      cursor: text;
      user-select: text;
      flex-grow: 1;
      overflow: hidden;
    
      &::placeholder {
        color: $winter-grey;
        letter-spacing: 0;
      }
    }

    #insertchars {
      display: flex;
      align-items: center;

      span {
        width: 65px;
        height: 100%;
        color: $winter-grey;
        border-left: 1px solid $pale-winter-grey-2;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        font-size: 2.2rem;
        cursor: pointer;
      
        .notouch &:hover {
          color: #000;
        }
      }
    }
  }
}

#wrapper.notouch #search #insertchars span:hover,
#wrapper.touch #search #insertchars span:focus {
  background: $yellow;
  color: #000;
}

#clear {
  padding: 0 10px;
  border-left: 1px solid #eee;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  display: none; // .on => flex

  * { cursor: pointer; }    

  svg {
    width: 80px;
    height: 50%;
    
    path {
      fill: #000;
    }
  }
}

.notouch #clear:hover,
.touch #clear:focus {
  background-color: $red-minus-3;

  svg path {
    fill: #000;
  }
}

#main {
  width: 100%;
  height: calc(100% - 95px);
  overflow: hidden;
  display: none;

  &.noresult {
    background: rgba(255,255,255,0.9);
  }

  &.noresult #filtered,
  &.noresult #result {
    display: none;
  }

  &.noresult::after {
    width: 100%;
    content: 'No entries found.';
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    font-weight: 400;
    letter-spacing: 2px;
    color: rgba(0,0,0,0.1);
  }

  #filtered {
    background: $blue-minus-3;
    display: block;
    overflow-x: hidden;
    overflow-y: auto;
    flex: 0 0 190px;
    -webkit-overflow-scrolling: touch;
  
    li {
      padding: 26px 20px;
      cursor: pointer;
      hyphens: auto;
    }
  
    li.selected {
      background: $yellow;
      color: #000;

      .notouch &:hover {
        background: $yellow;
      }
    }
  
    .notouch & li:hover,
    .touch & li:active {
      background: $pale-yellow;
      color: #000;
    }
  
  }
  
  #result {
    background: $pale-winter-grey-2;
    position: relative;
    display: block;
    line-height: 1.2rem;
    flex-grow: 1;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    
    * {
      cursor: text;
    }
  
    pre {
      width: 100%;
      overflow: hidden;
    }

    .word {
      margin: 35px 20px 0;
      padding: 0 0 35px 0;
      border-bottom: 1px solid $winter-grey;

      &:first-of-type { margin-top: 20px; }
      &:last-of-type { border-bottom: none; }
    
      header {
        width: 100%;
        display: flex;
        align-items: flex-start;
        gap: 5px;

        h1 {
          padding: 6px 0;
          font-weight: 800;
          line-height: 1.2em;
          flex-grow: 1;
          hyphens: auto;
          word-break: break-word;
          position: relative;
          user-select: text;
        }
        
        h1 sup {
          margin: -14px 0 0 5px;
          color: rgba(0,0,0,0.5);
          font-size: 1.1rem;
          font-weight: normal;
          position: absolute;
        }

        .article  {
          margin-top: 0px;

          & > span {
            height: 44px;
            padding: 4px 12px 0px;
            border: 2.5px solid #000;
            border-radius: 10px;
            font-size: 2.1rem;
            font-weight: 800;
            display: flex;
            align-items: center;
            cursor: default;
          }
        }
      }
    }
    
    .pronunciation {
      margin-bottom: 20px;
      color: #bbb;
      user-select: text;
    
      &::before { content: '|\00a0\00a0'; }
      &::after  { content: '\00a0\00a0|'; }
    }
    
    .pos {
      display: inline;
      line-height: 2rem;
      user-select: text;
    }

    .link {
      text-decoration: underline;
      cursor: pointer;
    }

    .link:hover {
      text-decoration: none;
    }
    
    .inflection {
      margin-left: 10px;
      display: inline;
      color: #666;
      font-style: italic;
      line-height: 2rem;
      letter-spacing: 0.2px;
      user-select: text;

      /*
      &::before { content: '('; }
      &::after  { content: ')'; }
      */
    }

    .lexeme {
      margin: 20px 0 0;
      line-height: 2rem;

      * { user-select: text; }

      .lex {
        margin-bottom: 15px;
        padding: 15px;
        border-radius: 10px;
        background: $pale-winter-grey-1;

        &:last-of-type { margin-bottom: 0; }

        .definition {
          /*font-weight: 600;*/
        }
    
      }

      h2 {
        margin: 10px 0 0.2em;
        font-size: 0.8em;
        font-weight: 500;
      }

      .usage,
      .example,
      .idiom,
      .compound {
        margin-top: 10px;

        &:first-child { margin-top: 0; }
      
        ul {
          padding: 0 0 0 20px;
          font-style: italic;
          display: block;
  
          li {
            color: rgba(0,0,0,0.6);
            list-style-type: square;
          }
  
        }

      }

      .valency,
      .grammat_comm {
        display: none;
      }
    
    }
  
  }
}

#loading {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -100px;
}
