@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  cursor: default;
}

html {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

html, body {
  height: 100%;
}

body {
  background: #eee;
  font-family: 'Open Sans', sans-serif;
}

a {
  color: #ccc;
  cursor: pointer;
  
  * {
    cursor: pointer;
  }
}

.notouch a:hover,
.touch a:active {
  color: #aaa;
  text-decoration: none;
}

#root {
  height: 100%;
}

#wrapper {
  width: 620px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;

  & > header {
    height: 100px;
    gap: 5px;
    $header-color: #ccc;
  
    #logo {
      height: 70px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  
    svg {
      width: 120px;

      path {
        fill: $header-color;
      }

      path.bg {
        fill: #fff;
      }
    }
  
    h1 {
      color: $header-color;
      text-transform: uppercase;
      text-align: left;
      font-size: 1rem;
      line-height: 1.2rem;
    }

  }
  
  & > header,
  & > footer {
    width: 100%;
    height: 150px;
    color: #ccc;
    text-align: center;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  & > footer {
    font-size: 0.8rem;
  }

  & > footer span {
    width: 100%;
    margin-top: 10px;
  }
  
  & > footer a svg {
    margin: 0 2px;
    display: inline-block;
  }
  
  & > footer a svg path {
    fill: #ccc;
  }

  &.notouch > footer a:hover svg path,
  &.touch > footer a:focus svg path {
    fill: #aaa;
  }

  &.on,
  &.on #clear {
    display: block;
  }

  &.on > #main {
    display: flex;
  }

  &.on > header,
  &.on > footer {
    display: none;
  }

  #search {
    width: 100%;
    position: relative;
  }

  input#word {
    width: calc(100% - 200px);
    height: 40px;
    padding: 20px 180px 20px 20px;
    border: none;
    background: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    letter-spacing: 1px;
    cursor: text;
  
    &::placeholder {
      color: #ccc;
      letter-spacing: 0;
    }
  }
  
  &.on #word {
    width: calc(100% - 265px);
    padding-right: 245px;
  }

}

#insertchars {
  padding: 20px 0;
  position: absolute;
  top: 0;
  right: 20px;
}

#wrapper.on #insertchars {
  right: 85px;
}

#insertchars > span {
  width: 38px;
  height: 38px;
  margin: 0 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background: #fff;
  color: #ddd;
  display: inline-block;
  text-align: center;
  font-size: 1.6rem;
  line-height: 38px;
  cursor: pointer;
}

.notouch #insertchars > span:hover,
.touch #insertchars > span:focus {
  background: #f6f6f6;
  color: #aaa;
  border-color: #aaa;
}

#clear {
  width: 80px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background: url(data:image/svg+xml,%3Csvg%20fill%3D%22%23000000%22%20height%3D%2236%22%20viewBox%3D%220%200%2024%2024%22%20width%3D%2236%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22M19%206.41L17.59%205%2012%2010.59%206.41%205%205%206.41%2010.59%2012%205%2017.59%206.41%2019%2012%2013.41%2017.59%2019%2019%2017.59%2013.41%2012z%22/%3E%3Cpath%20d%3D%22M0%200h24v24H0z%22%20fill%3D%22none%22/%3E%3C/svg%3E) center no-repeat;
  cursor: pointer;
  display: none;
}

.notouch #clear:hover,
.touch #clear:focus {
  background-color: #f1f1f1;
  color: #aaa;
}

#main {
  width: 100%;
  height: calc(100% - 80px);
  background: #f6f6f6;
  display: none;

  &.noresult #filtered,
  &.noresult #result {
    display: none;
  }

  &.noresult::after {
    width: 100%;
    content: 'No entries found.';
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    font-weight: 400;
    letter-spacing: 2px;
    color: rgba(0,0,0,0.1);
  }

  #filtered {
    width: 200px;
    height: 100%;
    background: #e6e6e6;
    display: block;
    float: left;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  
    li {
      padding: 10px 20px;
      word-break: break-all;
      cursor: pointer;
      hyphens: auto;
    }
  
    li.selected {
      background: #d3d3d3;
    }
  
    .notouch & li:hover,
    .touch & li:active {
      background: #ddd;
    }
  
  }
  
  #result {
    width: calc(100% - 200px);
    height: 100%;
    position: relative;
    display: block;
    float: left;
    line-height: 1.2rem;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    
    * {
      cursor: text;
    }
  
    pre {
      width: 100%;
      overflow: hidden;
    }

    .word {
      margin: 20px 20px 0;
      padding: 0 0 20px 0;
      border-bottom: 1px solid rgba(0,0,0,0.1);

      &:last-of-type { border-bottom: none; }
    
      header {
        width: 100%;
        display: flex;
        align-items: flex-start;
        gap: 5px;

        h1 {
          padding: 6px 0;
          font-weight: 800;
          line-height: 1.1em;
          flex-grow: 1;
          word-break: break-all;
          hyphens: auto;
          position: relative;
        }
        
        h1 sup {
          margin: -10px 0 0 5px;
          color: rgba(0,0,0,0.5);
          font-size: 1.2rem;
          font-weight: normal;
          position: absolute;
        }

        .article > span {
          height: 44px;
          padding: 0 10px;
          border: 2px solid #000;
          border-radius: 10px;
          font-size: 2rem;
          font-weight: bold;
          line-height: 2rem;
          display: flex;
          align-items: center;
          cursor: default;
        }
      }
    }
    
    .pronunciation {
      margin-bottom: 10px;
      color: #bbb;
    
      &::before { content: '|\00a0\00a0'; }
      &::after  { content: '\00a0\00a0|'; }
    }
    
    .pos {
      display: inline;
    }

    .link {
      text-decoration: underline;
      cursor: pointer;
    }

    .link:hover {
      text-decoration: none;
    }
    
    .inflection {
      margin-left: 10px;
      display: inline;
      color: #666;
      font-style: italic;
      letter-spacing: 0.2px;

      &::before { content: '('; }
      &::after  { content: ')'; }
    }

    .lexeme {
      margin: 15px 0 0;

      .lex {
        margin-bottom: 15px;
        padding: 15px;
        border-radius: 10px;
        background:rgba(0,0,0,0.02);

        &:last-of-type { margin-bottom: 0; }

        .definition {
          font-weight: 600;
          line-height: 1.4rem;
        }
    
      }

      h2 {
        margin: 10px 0 0.2em;
        font-size: 0.8em;
        font-weight: 500;
      }
    
      .example > ul, 
      .idiom > ul,
      .compound > ul {
        padding: 0 0 0 20px;
        font-size: 0.8em;
        font-style: italic;
        display: block;

        li {
          color: rgba(0,0,0,0.6);
          list-style-type: square;
        }

      }
    
    }
    
    .valency,
    .grammat_comm {
      display: none;
    }
  
  }
}

#loading {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -100px;
}
