/* Webfont: SwedenSans-Book */
@font-face {
  font-family: 'SwedenSans';
  src: url('./assets/fonts/SwedenSansBook.woff2') format('woff2'),
       url('./assets/fonts/SwedenSansBook.otf') format('opentype');
           font-style: normal;
  font-weight: 300;
  text-rendering: optimizeLegibility;
}

/* Webfont: SwedenSans-Regular */
@font-face {
  font-family: 'SwedenSans';
  src: url('./assets/fonts/SwedenSansRegular.woff2') format('woff2'),
       url('./assets/fonts/SwedenSansRegular.otf') format('opentype');
           font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

/* Webfont: SwedenSans-SemBold */
@font-face {
  font-family: 'SwedenSans';
  src: url('./assets/fonts/SwedenSansSemiBold.woff2') format('woff2'),
       url('./assets/fonts/SwedenSansSemiBold.otf') format('opentype');
           font-style: normal;
  font-weight: bold;
  text-rendering: optimizeLegibility;
}


/* Webfont: SwedenSans-Bold */
@font-face {
  font-family: 'SwedenSans';
  src: url('./assets/fonts/SwedenSansBold.woff2') format('woff2'),
       url('./assets/fonts/SwedenSansBold.otf') format('opentype');
           font-style: normal;
  font-weight: 800;
  text-rendering: optimizeLegibility;
}

$blue: rgb(20, 82, 147);
$yellow: rgb(254, 203, 0);
$red: rgb(209, 56, 43);
$grain-yellow: rgb(232, 227, 209);
$pale-yellow: rgb(255, 212, 129);
$pale-winter-grey-1: rgb(250, 250, 250);
$pale-winter-grey-2: rgb(237, 237, 237);
$green-minus-3: rgb(153, 222, 201);
$blue-minus-3: rgb(153, 213, 237);


* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  cursor: default;
  user-select: none;

  &::selection {
    background: $pale-yellow;
  }
}

html {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

html, body {
  height: 100%;
}

body {
  background: $blue;
  font-family: 'SwedenSans', sans-serif;
  letter-spacing: 1px;
}

a {
  color: #ccc;
  cursor: pointer;
  
  * {
    cursor: pointer;
  }
}

.notouch a:hover,
.touch a:active {
  color: #aaa;
  text-decoration: none;
}

#root {
  height: 100%;
}

#wrapper {
  width: 620px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  font-size: 22px;

  & > header {
    height: 100px;
    gap: 10px;
    $header-color: rgba(255,255,255,0.8);
  
    #logo {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  
    svg {

      path {
        fill: $header-color;
      }

      path.bg {
        fill: none;
      }
    }
  
    h1 {
      padding-top: 5px;
      color: $header-color;
      text-transform: uppercase;
      text-align: left;
      font-size: 1rem;
      font-weight: 800;
      line-height: 1.4rem;
    }

  }
  
  & > header,
  & > footer {
    width: 100%;
    height: 150px;
    color: #ccc;
    text-align: center;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  & > footer {
    font-size: 0.8rem;
  }

  & > footer span {
    width: 100%;
    margin-top: 10px;
  }
  
  & > footer a svg {
    margin: 0 2px;
    display: inline-block;
  }
  
  & > footer a svg path {
    fill: #ccc;
  }

  &.notouch > footer a:hover svg path,
  &.touch > footer a:focus svg path {
    fill: #aaa;
  }

  &.on {
    display: block;
  }

  &.on #clear {
    display: flex;
  }

  &.on > #main {
    display: flex;
  }

  &.on > header,
  &.on > footer {
    display: none;
  }

  #search {
    width: 100%;
    position: relative;
  }

  input#word {
    width: calc(100% - 213px);
    height: 40px;
    padding: 30px 193px 25px 20px;
    border: none;
    border-radius: 0;
    -webkit-appearance: none;
    background: #fff;
    font-family: 'SwedenSans', sans-serif;
    font-size: 2rem;
    letter-spacing: 1px;
    cursor: text;
    user-select: text;
  
    &::placeholder {
      color: #ccc;
      letter-spacing: 0;
    }
  }
  
  &.on #word {
    width: calc(100% - 294px);
    padding: 20px 274px 15px 20px;

  }

}

#insertchars {
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
}

#wrapper.on #insertchars {
  right: 81px;
}

#insertchars > span {
  width: 60px;
  height: 100%;
  color: #ddd;
  border-left: 1px solid #eee;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  cursor: pointer;
}

.notouch #insertchars > span:hover,
.touch #insertchars > span:focus {
  background: $yellow;
  color: #000;
}

#clear {
  width: 80px;
  height: 100%;
  border-left: 1px solid #eee;
  position: absolute;
  top: 0;
  right: 0;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  display: none; // .on => flex

  * { cursor: pointer; }    

  svg {
    width: 50%;
    height: 50%;
    
    path {
      fill: #000;
    }
  }
}

.notouch #clear:hover,
.touch #clear:focus {
  background-color: $red;
  color: #fff;

  svg path {
    fill: #fff;
  }
}

#main {
  width: 100%;
  height: calc(100% - 75px);
  display: none;

  &.noresult {
    background: rgba(255,255,255,0.9);
  }

  &.noresult #filtered,
  &.noresult #result {
    display: none;
  }

  &.noresult::after {
    width: 100%;
    content: 'No entries found.';
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    font-weight: 400;
    letter-spacing: 2px;
    color: rgba(0,0,0,0.1);
  }

  #filtered {
    width: 200px;
    height: 100%;
    background: $blue-minus-3;
    display: block;
    float: left;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  
    li {
      padding: 26px 20px;
      cursor: pointer;
      hyphens: auto;
    }
  
    li.selected {
      background: $yellow;
      color: #000;
    }
  
    .notouch & li:hover,
    .touch & li:active {
      background: $pale-yellow;
      color: #000;
    }
  
  }
  
  #result {
    width: calc(100% - 200px);
    height: 100%;
    background: $pale-winter-grey-2;
    position: relative;
    display: block;
    float: left;
    line-height: 1.2rem;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    
    * {
      cursor: text;
    }
  
    pre {
      width: 100%;
      overflow: hidden;
    }

    .word {
      margin: 35px 20px 0;
      padding: 0 0 35px 0;
      border-bottom: 1px solid rgba(0,0,0,0.1);

      &:first-of-type { margin-top: 20px; }
      &:last-of-type { border-bottom: none; }
    
      header {
        width: 100%;
        display: flex;
        align-items: flex-start;
        gap: 5px;

        h1 {
          padding: 6px 0;
          font-weight: 800;
          line-height: 1.2em;
          flex-grow: 1;
          hyphens: auto;
          word-break: break-word;
          position: relative;
          user-select: text;
        }
        
        h1 sup {
          margin: -14px 0 0 5px;
          color: rgba(0,0,0,0.5);
          font-size: 1.1rem;
          font-weight: normal;
          position: absolute;
        }

        .article  {
          margin-top: 6px;

          & > span {
            height: 44px;
            padding: 0 12px 2px;
            border: 2.5px solid #000;
            border-radius: 10px;
            font-size: 2.1rem;
            font-weight: 800;
            display: flex;
            align-items: center;
            cursor: default;
          }
        }
      }
    }
    
    .pronunciation {
      margin-bottom: 20px;
      color: #bbb;
      user-select: text;
    
      &::before { content: '|\00a0\00a0'; }
      &::after  { content: '\00a0\00a0|'; }
    }
    
    .pos {
      display: inline;
      line-height: 2rem;
      user-select: text;
    }

    .link {
      text-decoration: underline;
      cursor: pointer;
    }

    .link:hover {
      text-decoration: none;
    }
    
    .inflection {
      margin-left: 10px;
      display: inline;
      color: #666;
      font-style: italic;
      line-height: 2rem;
      letter-spacing: 0.2px;
      user-select: text;

      /*
      &::before { content: '('; }
      &::after  { content: ')'; }
      */
    }

    .lexeme {
      margin: 20px 0 0;
      line-height: 2rem;

      * { user-select: text; }

      .lex {
        margin-bottom: 15px;
        padding: 15px;
        border-radius: 10px;
        background: $pale-winter-grey-1;

        &:last-of-type { margin-bottom: 0; }

        .definition {
          /*font-weight: 600;*/
        }
    
      }

      h2 {
        margin: 10px 0 0.2em;
        font-size: 0.8em;
        font-weight: 500;
      }

      .usage,
      .example,
      .idiom,
      .compound {
        margin-top: 10px;

        &:first-child { margin-top: 0; }
      
        ul {
          padding: 0 0 0 20px;
          font-style: italic;
          display: block;
  
          li {
            color: rgba(0,0,0,0.6);
            list-style-type: square;
          }
  
        }

      }

      .valency,
      .grammat_comm {
        display: none;
      }
    
    }
  
  }
}

#loading {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -100px;
}
